{% extends 'web/base_principal.html' %}

{% block listado %}
    {% for comentario in comentarios %}

    <!-- Search widget-->
    <div class="container">
        <div class="card ls-4">
            <div class="card-header" style="text-align: center;">Busqueda de comentarios</div>
            <div class="card-body">
                <div class="input-group">
                    <form class="d-flex" role="search">
                        {{ formulario.as_p }} &nbsp;
                        <button class="btn btn-primary" id="button-search" style="height: 30px;" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
    <hr>
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Single comment-->
                <div class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">Commenter Name || <h3>{{comentario.titulo}}</h3></div>
                        {{comentario.contenido}}  ||  {{comentario.fecha_publicacion}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock listado %}